:root {
    --primary-color: #0b0155;
    --secondary-color: #202c73;
    --tertiary-color: #248db6;
}

/* ------------------------------- COLORS ------------------------------- */

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.bg-tertiary-color {
    background-color: var(--tertiary-color);
}

.text-color,
.text-color:hover {
    color: #e2e2e2;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f0f2f5;
}

/* ------------------------------- NAVBAR ------------------------------- */

.navbar {
    width: 100%;
}

.menu-toggle {
    display: none;
}

/* ------------------------------- SIDEBAR ------------------------------- */

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 90;
}

.close-sidebar {
    display: none;
}

.sidebar {
    height: calc(100vh - 72px);
    background-color: var(--primary-color);
    color: #e2e2e2;
    width: 350px;
    transition: .5s;
}

.sidebar.active {
    position: fixed;
    transform: translateX(-100%);
}

@media (max-width: 1023px) {
    .menu-toggle {
        display: inline;
        cursor: pointer;
    }

    .title-close-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .close-sidebar {
        display: inline;
    }

    .content {
        height: 100%;
        width: 100%;
    }

    .sidebar {
        height: calc(100% + 20px);
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-400px);
        transition: transform 0.3s ease-in-out;
    }

    .sidebar.active {
        transform: translateX(0px);
    }
}

.ctn-button-add {
    text-align: center;
    padding: 10px;
    border-bottom: 3px solid #eee;
}


.ctn-button-add button {
    background-color: #eee;
    color: var(--primary-color);
    width: 100%;
    font-size: 17px;
    transition: background-color .2s;
    margin-bottom: 10px;
}

.ctn-button-add button:hover {
    color: #eee;
    border: 1px solid #eee;
}

.list-group {
    background-color: var(--primary-color);
}

.list-group-item {
    background-color: var(--primary-color);
    color: #e2e2e2;
    margin: 0;
    padding: 20px;
    font-size: 17px;
    border: none;
}

.list-group-item:hover {
    border-radius: 10px;
    background-color: var(--tertiary-color);
}

/* ------------------------------- CONTENT ------------------------------- */
.content {
    height: calc(100vh - 72px);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: .5s;
}

.content.active {
    position: fixed;
    transform: translateX(-100%);
}

.bg-linear {
    background: linear-gradient(-45deg, var(--primary-color), var(--tertiary-color));
}

.item-content {
    /* height: 550px; */
    width: calc(100% - 50px);
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin: 20px;
}

.dios-mio {
    overflow-y: auto;
}


/* ------------------------------- SCROLL BAR ------------------------------- */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 123, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 123, 255);
}

/* ------------------------------- MODAL ------------------------------- */
.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}

.close-modal {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.modal-content {
    position: fixed;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 100;
    background-color: var(--secondary-color);
    color: #fff;
}

.input-section {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.input-section input {
    width: 300px;
}

.days-of-week {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.day-week {
    aspect-ratio: 1 / 1;
    height: 35px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.day-week:hover {
    background-color: var(--tertiary-color);
}

.day-week.selected {
    background-color: var(--tertiary-color);
}

button[type="submit"]:hover {
    border: 1px solid #fff;
}

.modal-footer {
    border: none;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.footer-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-content {
    cursor: pointer;
}

.list-contents {
    max-height: 80px;
    overflow-y: auto;
}

.content-displine {
    margin-bottom: 15px;
    display: flex;
}

/* ------------------------------- CALENDAR ------------------------------- */
.calendar {
    padding: 0;
    background-color: var(--secondary-color);
    border: 10px solid black;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    
}

.calendar-header .item-calendar-header {
    display: flex;
    align-items: center;
}

.calendar-header .item-calendar-header i {
    cursor: pointer;
}

.calendar h2 {
    padding: 10px;
    text-align: center;
}

.calendar-body .days-week-name {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.day-week-name-item {
    background-color: black;
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

.calendar-body .days-fs-letter {
    display: none;
}

.week-of-month {
    display: flex;
    justify-content: space-between;
}

.day-of-month {
    flex: 1;
    border: 2px solid var(--primary-color);
    height: 80px;
    display: flex;
    align-items: start;
    justify-content: end;
    padding: 10px 10px 0 0;
    cursor: pointer;
}

.today {
    background-color: blue;
}

@media (max-width: 768px) {
    .calendar-body .days-week-name {
        display: none;
    }

    .calendar-body .days-fs-letter {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}


/* ------------------------------- TASKS ------------------------------- */
.tasks-title {
    background-color: var(--primary-color);
    padding: 3px;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.list-tasks {
    padding: 20px;
}

.list-tasks-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.list-tasks-header div {
    flex: 1;
    padding: 5px;
    text-align: center;
}

.list-tasks-header div:nth-child(1) {
    flex: 2;
}

.task {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    gap: 2px;
    border: 2px solid var(--primary-color);
}

.task div {
    background-color: var(--secondary-color);
    flex: 1;
    padding: 5px;
    text-align: center;
}

.task div:nth-child(1) {
    flex: 2;
}

.status-task-full {
    display: inline;
}

.status-task-resp {
    display: none;
}

@media (max-width: 768px) {
    .status-task-full {
        display: none;
    }

    .status-task-resp {
        display: inline;
    }

    .task div {
        background-color: var(--secondary-color);
        width: 30%;
        padding: 5px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .task div:nth-child(1) {
        width: 40%;
    }
}