.modal-day-tasks {
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.modal-day-tasks.active {
    display: flex;
}

.modal-day-tasks .day-tasks {
    background-color: #fff;
    padding: 20px;
    width: 420px;
    height: 300px;
    border-radius: 10px;
}

.list-tasks-day {
    padding-left: 20px;
    padding-top: 5px;
    height: 130px;
    overflow-y: auto;
    border: 1px solid #101010;
    border-radius: 10px;
}



.calendar {
    background-color: var(--secondary-color);
    border: 3px solid black;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.calendar-header .item-calendar-header {
    display: flex;
    align-items: center;
}

.calendar-header .item-calendar-header i {
    cursor: pointer;
}

.calendar h2 {
    padding: 10px;
    text-align: center;
}

.calendar-body .days-week-name {
    display: flex;
    justify-content: space-between;
    color: #d2d2d2;
}

.day-week-name-item {
    background-color: black;
    flex: 1;
    text-align: center;
    padding: 10px;
    border: 0px solid #fff;
}

.calendar-body .days-fs-letter {
    display: none;
}

.week-of-month {
    display: flex;
    justify-content: space-between;
}

.day-of-month {
    flex: 1;
    border: 0px solid var(--primary-color);
    height: 100px;
    display: flex;
    align-items: start;
    justify-content: end;
    padding: 10px 10px 0 0;
    cursor: pointer;
    border: 1px solid black;
    position: relative;
}

.list-labels {
    position: absolute;
    top: 30px;
    width: calc(100% - 15px);
    font-size: 12px;
    height: 60px;
}

.list-labels .task-item {
    background-color: #c2a335;
    padding: 3px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.list-labels .task-item.completed {
    background-color: #5cb85c;
}

.list-labels .task-item.pendent {
    background-color: #b85c5c;
}

.day-of-month:hover {
    background-color: #d2d2d2;
}

.today {
    background-color: #d2d2d2;
}

.label-full {
    display: inline;
}

.label-resp {
    display: none;
}

@media (max-width: 768px) {
    .day-of-month {
        flex: 1;
        height: 50px;
        padding: 5px 5px 0 0;
    }

    .calendar-body .days-week-name {
        display: none;
    }

    .calendar-body .days-fs-letter {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        color: #d2d2d2;
    }

    .label-full {
        display: none;
    }

    .label-resp {
        display: inline;
        font-size: 12px;
    }

    .label-resp .task-item {
        padding: 0px;
        font-size: 15px;
        text-align: center;
    }
}