.navbar {
    background-color: #101010;
    color: #dddcdc;
    height: 72px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    position: relative;
}

.menu-toggle {
    display: none;
}

.navbar-brand {
    padding-left: 10px;
}

.logout {
    position: absolute;
    right: 20px;
}

@media (max-width: 1023px) {
    .menu-toggle {
        display: inline;
    }
}

